# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
env/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Project specific
dataset/outputs/
*.npy
*.png
*.csv

# System
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Logs
*.log
logs/ 

test.ipynb

wandb/

notes.txt

test.py

runs/
models/
results/

*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.tiff
*.ico

# Tf events
*.tfevents*

# Tensorboard
tensorboard/

# all directories containing .png files
**/*.png

# all directories containing .jpg files
**/*.jpg

# all directories containing .jpeg files
**/*.jpeg

# all directories containing .gif files
**/*.gif

# all directories containing .bmp files
**/*.bmp

